In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('D:\ifood-marketing-analyst\ifood_marketing_data.csv')
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,1826,1970,Graduation,Divorced,"$84,835.00",0,0,6/16/2014,0,189,...,6,1,0,0,0,0,0,1,0,SP
1,1,1961,Graduation,Single,"$57,091.00",0,0,6/15/2014,0,464,...,7,5,0,0,0,0,1,1,0,CA
2,10476,1958,Graduation,Married,"$67,267.00",0,1,5/13/2014,0,134,...,5,2,0,0,0,0,0,0,0,US
3,1386,1967,Graduation,Together,"$32,474.00",1,1,5/11/2014,0,10,...,2,7,0,0,0,0,0,0,0,AUS
4,5371,1989,Graduation,Single,"$21,474.00",1,0,4/8/2014,0,6,...,2,7,1,0,0,0,0,1,0,SP

In [5]:
print("Shape of the dataframe:", df.shape)

Shape of the dataframe: (2240, 28)

In [6]:
print("Information about the dataframe:")
print(df.info())

Information about the dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4    Income              2216 non-null   object
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Response             2240 non-null   int64
 26  Complain             2240 non-null   int64
 27  Country              2240 non-null   object
dtypes: int64(23), object(5)
memory usage: 490.1+ KB
None

In [7]:
for dtype, col in (list(zip(df.dtypes, df.columns))):
    if dtype == 'int64' or dtype == 'float64':
        print(col, dtype)
        print(df[col].min(), df[col].max())
    else:
        print(col, dtype)
        print(df[col].unique())

    print()

ID int64
0 11191

Year_Birth int64
1893 1996

Education object
['Graduation' 'PhD' '2n Cycle' 'Master' 'Basic']

Marital_Status object
['Divorced' 'Single' 'Married' 'Together' 'Widow' 'YOLO' 'Alone' 'Absurd']

 Income  object
['$84,835.00 ' '$57,091.00 ' '$67,267.00 ' ... '$46,310.00 ' '$65,819.00 '
 '$94,871.00 ']

Kidhome int64
0 2

Teenhome int64
0 2

Dt_Customer object
['6/16/2014' '6/15/2014' '5/13/2014' '5/11/2014' '4/8/2014' '3/17/2014'
 '1/29/2014' '1/18/2014' '1/11/2014' '12/27/2013' '12/9/2013' '12/7/2013'
 '10/16/2013' '10/5/2013' '9/11/2013' '8/1/2013' '7/23/2013' '7/1/2013'
 '5/28/2013' '3/26/2013' '3/15/2013' '2/12/2013' '11/23/2012' '10/13/2012'
 '9/14/2012' '6/29/2014' '5/31/2014' '5/30/2014' '4/27/2014' '4/11/2014'
 '10/29/2013' '10/9/2013' '5/10/2013' '5/9/2013' '4/25/2013' '4/20/2013'
 '3/30/2013' '3/1/2013' '2/14/2013' '1/11/2013' '1/3/2013' '12/19/2012'
 '12/15/2012' '12/2/2012' '9/17/2012' '9/11/2012' '5/12/2014' '4/28/2014'
 '3/29/2014' '3/6/2014' '3/4/2014' '2/4/2014' '2/3/2014' '1/1/2014'
 '12/12/2013' '11/15/2013' '9/20/2013' '9/5/2013' '8/31/2013' '7/30/2013'
 '7/27/2013' '6/22/2013' '1/5/2013' '11/21/2012' '11/11/2012' '9/28/2012'
 '9/27/2012' '9/7/2012' '8/13/2012' '8/11/2012' '8/2/2012' '6/25/2014'
 '5/28/2014' '4/14/2014' '3/10/2014' '2/27/2014' '2/7/2014' '1/28/2014'
 '11/17/2013' '11/7/2013' '10/17/2013' '10/13/2013' '10/12/2013'
 '9/30/2013' '7/3/2013' '6/10/2013' '5/29/2013' '4/29/2013' '3/10/2013'
 '1/2/2013' '11/2/2012' '10/18/2012' '10/1/2012' '9/3/2012' '8/26/2012'
 '5/23/2014' '5/17/2014' '4/21/2014' '3/23/2014' '12/16/2013' '11/26/2013'
 '11/14/2013' '11/6/2013' '10/6/2013' '9/27/2013' '9/18/2013' '9/9/2013'
 '7/18/2013' '7/8/2013' '5/27/2013' '3/5/2013' '2/20/2013' '1/12/2013'
 '12/24/2012' '11/19/2012' '3/28/2014' '2/24/2014' '9/2/2013' '8/20/2013'
 '6/23/2013' '5/5/2013' '4/5/2013' '1/4/2013' '12/27/2012' '11/10/2012'
 '10/29/2012' '9/22/2012' '3/31/2014' '3/21/2014' '2/9/2014' '9/23/2013'
 '6/27/2013' '3/28/2013' '3/12/2013' '1/16/2013' '1/8/2013' '12/29/2012'
 '12/12/2012' '11/25/2012' '9/21/2012' '9/9/2012' '9/5/2012' '8/17/2012'
 '6/22/2014' '5/1/2014' '1/3/2014' '10/11/2013' '8/13/2013' '6/9/2013'
 '5/7/2013' '10/2/2012' '9/12/2012' '3/19/2014' '3/3/2014' '2/22/2014'
 '1/24/2014' '12/4/2013' '11/28/2013' '11/5/2013' '10/3/2013' '8/9/2013'
 '8/7/2013' '7/17/2013' '7/9/2013' '6/11/2013' '5/17/2013' '3/23/2013'
 '2/19/2013' '1/19/2013' '1/10/2013' '1/1/2013' '11/12/2012' '5/18/2014'
 '3/30/2014' '1/30/2014' '1/26/2014' '1/22/2014' '1/15/2014' '12/13/2013'
 '8/4/2013' '5/1/2013' '4/24/2013' '4/3/2013' '2/3/2013' '11/16/2012'
 '8/3/2012' '4/18/2014' '4/1/2014' '3/18/2014' '2/10/2014' '11/23/2013'
 '11/21/2013' '10/2/2013' '7/21/2013' '6/18/2013' '3/24/2013' '12/6/2012'
 '11/9/2012' '2/14/2014' '10/22/2013' '10/4/2013' '9/21/2013' '8/5/2013'
 '7/14/2013' '7/4/2013' '4/12/2013' '4/10/2013' '4/8/2013' '3/31/2013'
 '3/17/2013' '1/21/2013' '12/10/2012' '9/24/2012' '8/6/2012' '6/18/2014'
 '4/5/2014' '12/21/2013' '10/27/2013' '10/21/2013' '9/19/2013' '9/4/2013'
 '6/25/2013' '4/27/2013' '4/18/2013' '12/30/2012' '8/22/2012' '8/8/2012'
 '6/19/2014' '4/20/2014' '2/28/2014' '12/17/2013' '11/25/2013'
 '10/28/2013' '8/15/2013' '7/5/2013' '6/19/2013' '6/16/2013' '4/22/2013'
 '3/19/2013' '2/23/2013' '2/15/2013' '10/31/2012' '10/7/2012' '8/9/2012'
 '5/6/2014' '4/15/2014' '3/5/2014' '2/19/2014' '9/7/2013' '8/6/2013'
 '7/25/2013' '4/30/2013' '9/10/2012' '3/20/2014' '9/28/2013' '9/24/2013'
 '2/16/2013' '11/22/2012' '9/18/2012' '8/16/2012' '6/5/2014' '4/13/2014'
 '4/10/2014' '4/3/2014' '2/12/2014' '12/15/2013' '10/30/2013' '8/26/2013'
 '2/2/2013' '1/25/2013' '11/17/2012' '11/13/2012' '11/7/2012' '11/1/2012'
 '10/16/2012' '5/8/2014' '3/2/2014' '6/24/2013' '6/13/2013' '4/23/2013'
 '4/15/2013' '1/29/2013' '10/30/2012' '10/23/2012' '4/17/2014' '2/25/2014'
 '12/11/2013' '10/10/2013' '5/20/2013' '5/18/2013' '4/7/2013' '3/3/2013'
 '12/7/2012' '11/28/2012' '10/27/2012' '9/15/2012' '6/17/2014' '5/29/2014'
 '3/1/2014' '2/15/2014' '12/23/2013' '11/29/2013' '10/25/2013' '8/17/2013'
 '6/6/2013' '3/29/2013' '9/23/2012' '8/30/2012' '8/1/2012' '2/8/2014'
 '1/25/2014' '11/27/2013' '10/19/2013' '3/7/2013' '2/28/2013' '1/17/2013'
 '11/20/2012' '11/5/2012' '11/3/2012' '8/31/2012' '8/12/2012' '5/15/2014'
 '4/12/2014' '4/6/2014' '2/6/2014' '7/29/2013' '6/29/2013' '6/17/2013'
 '6/8/2013' '5/26/2013' '11/8/2012' '8/4/2012' '4/30/2014' '4/7/2014'
 '3/12/2014' '4/13/2013' '2/13/2013' '6/3/2014' '3/25/2014' '2/17/2014'
 '2/5/2014' '1/27/2014' '1/14/2014' '7/11/2013' '6/2/2013' '6/1/2013'
 '5/4/2013' '3/18/2013' '12/3/2012' '11/24/2012' '10/26/2012' '6/20/2014'
 '1/19/2014' '1/9/2014' '12/29/2013' '12/26/2013' '12/8/2013' '11/20/2013'
 '8/23/2013' '8/19/2013' '7/24/2013' '10/6/2012' '8/18/2012' '5/7/2014'
 '11/9/2013' '8/25/2013' '5/16/2013' '4/1/2013' '3/27/2013' '2/8/2013'
 '9/20/2012' '5/22/2014' '12/30/2013' '11/2/2013' '8/21/2013' '7/12/2013'
 '6/28/2013' '6/4/2013' '5/31/2013' '3/6/2013' '2/18/2013' '9/26/2012'
 '8/19/2012' '5/2/2014' '4/29/2014' '2/2/2014' '1/5/2014' '12/5/2013'
 '11/18/2013' '9/10/2013' '8/3/2013' '2/21/2013' '2/10/2013' '1/31/2013'
 '12/9/2012' '9/29/2012' '6/9/2014' '4/2/2014' '3/24/2014' '1/23/2014'
 '9/16/2013' '9/12/2013' '7/15/2013' '3/9/2013' '2/9/2013' '12/14/2012'
 '10/17/2012' '6/23/2014' '6/12/2014' '6/7/2014' '4/9/2014' '2/13/2014'
 '12/6/2013' '10/20/2013' '6/20/2013' '5/8/2013' '3/11/2013' '9/6/2012'
 '3/9/2014' '2/11/2014' '10/8/2013' '8/28/2013' '7/6/2013' '5/30/2013'
 '5/22/2013' '4/2/2013' '3/20/2013' '3/14/2013' '1/22/2013' '9/8/2012'
 '8/25/2012' '8/14/2012' '11/19/2013' '6/3/2013' '12/21/2012' '10/10/2012'
 '8/7/2012' '12/24/2013' '12/14/2013' '5/15/2013' '5/6/2013' '1/7/2013'
 '11/29/2012' '4/24/2014' '3/8/2014' '7/16/2013' '2/22/2013' '1/20/2013'
 '1/13/2013' '12/25/2012' '12/11/2012' '6/27/2014' '3/16/2014' '11/3/2013'
 '9/25/2013' '9/15/2013' '9/1/2013' '8/2/2013' '8/27/2012' '4/4/2014'
 '9/22/2013' '12/22/2012' '12/16/2012' '8/20/2012' '1/7/2014' '12/1/2013'
 '9/26/2013' '2/25/2013' '10/24/2012' '10/22/2012' '7/31/2012' '5/19/2014'
 '5/3/2014' '4/16/2014' '12/31/2013' '12/2/2013' '7/22/2013' '4/21/2013'
 '4/11/2013' '3/22/2014' '2/6/2013' '12/4/2012' '11/6/2012' '8/28/2012'
 '7/2/2013' '10/12/2012' '5/16/2014' '4/25/2014' '11/13/2013' '9/6/2013'
 '11/18/2012' '10/15/2012' '6/14/2014' '1/17/2014' '2/7/2013' '12/20/2013'
 '9/13/2013' '1/6/2013' '5/26/2014' '1/13/2014' '8/8/2013' '4/6/2013'
 '2/26/2014' '5/14/2013' '8/24/2012' '5/27/2014' '2/23/2014' '1/10/2014'
 '7/19/2013' '3/25/2013' '2/11/2013' '1/15/2013' '12/5/2012' '6/13/2014'
 '6/2/2014' '11/1/2013' '8/16/2013' '2/17/2013' '2/4/2013' '10/19/2012'
 '6/26/2014' '10/23/2013' '4/14/2013' '10/28/2012' '10/1/2013' '3/8/2013'
 '11/14/2012' '1/12/2014' '11/4/2013' '8/22/2013' '6/21/2013' '1/23/2013'
 '10/21/2012' '10/4/2012' '1/31/2014' '1/21/2014' '12/28/2013' '8/11/2013'
 '5/13/2013' '9/2/2012' '6/24/2014' '6/8/2014' '5/24/2014' '10/18/2013'
 '9/17/2013' '8/14/2013' '7/20/2013' '6/30/2013' '5/11/2013' '4/16/2013'
 '5/25/2014' '5/10/2014' '5/4/2014' '8/29/2013' '3/22/2013' '6/4/2014'
 '5/23/2013' '2/1/2013' '2/16/2014' '10/24/2013' '3/2/2013' '12/18/2012'
 '11/4/2012' '6/11/2014' '6/14/2013' '6/10/2014' '5/5/2014' '4/19/2014'
 '8/18/2013' '2/26/2013' '8/30/2013' '6/12/2013' '5/12/2013' '10/9/2012'
 '11/10/2013' '8/24/2013' '9/4/2012' '2/27/2013' '1/6/2014' '7/7/2013'
 '11/26/2012' '8/29/2012' '5/2/2013' '3/4/2013' '1/27/2013' '8/23/2012'
 '10/14/2013' '12/23/2012' '12/1/2012' '8/5/2012' '8/27/2013' '12/17/2012'
 '6/21/2014' '3/26/2014' '11/22/2013' '8/21/2012' '4/22/2014' '10/26/2013'
 '5/9/2014' '4/17/2013' '3/21/2013' '1/24/2013' '12/28/2012' '3/13/2014'
 '2/1/2014' '10/15/2013' '1/14/2013' '10/5/2012' '7/13/2013' '4/23/2014'
 '2/18/2014' '11/12/2013' '8/12/2013' '12/31/2012' '6/28/2014' '12/3/2013'
 '12/26/2012' '7/30/2012' '1/2/2014' '4/19/2013' '1/26/2013' '10/14/2012'
 '9/30/2012' '3/11/2014' '9/14/2013' '7/28/2013' '5/19/2013' '4/28/2013'
 '1/9/2013' '10/20/2012' '7/31/2013' '5/21/2013' '9/25/2012' '5/3/2013'
 '12/8/2012' '3/27/2014' '12/18/2013' '11/30/2013' '8/10/2013' '3/16/2013'
 '11/30/2012' '3/7/2014' '12/19/2013' '10/25/2012' '12/25/2013' '1/4/2014'
 '11/8/2013' '11/27/2012' '7/26/2013' '12/20/2012' '10/11/2012'
 '4/26/2014' '12/22/2013' '6/26/2013' '5/24/2013' '8/15/2012' '12/10/2013'
 '9/19/2012' '8/10/2012' '6/6/2014' '5/25/2013' '4/9/2013' '9/1/2012']

Recency int64
0 99

MntWines int64
0 1493

MntFruits int64
0 199

MntMeatProducts int64
0 1725

MntFishProducts int64
0 259

MntSweetProducts int64
0 263

MntGoldProds int64
0 362

NumDealsPurchases int64
0 15

NumWebPurchases int64
0 27

NumCatalogPurchases int64
0 28

NumStorePurchases int64
0 13

NumWebVisitsMonth int64
0 20

AcceptedCmp3 int64
0 1

AcceptedCmp4 int64
0 1

AcceptedCmp5 int64
0 1

AcceptedCmp1 int64
0 1

AcceptedCmp2 int64
0 1

Response int64
0 1

Complain int64
0 1

Country object
['SP' 'CA' 'US' 'AUS' 'GER' 'IND' 'SA' 'ME']

In [8]:
print(df.isnull().sum)

<bound method NDFrame._add_numeric_operations.<locals>.sum of          ID  Year_Birth  Education  Marital_Status   Income   Kidhome  \
0     False       False      False           False     False    False
1     False       False      False           False     False    False
2     False       False      False           False     False    False
3     False       False      False           False     False    False
4     False       False      False           False     False    False
...     ...         ...        ...             ...       ...      ...
2235  False       False      False           False     False    False
2236  False       False      False           False     False    False
2237  False       False      False           False     False    False
2238  False       False      False           False     False    False
2239  False       False      False           False     False    False

      Teenhome  Dt_Customer  Recency  MntWines  ...  NumStorePurchases  \
0        False        False    False     False  ...              False
1        False        False    False     False  ...              False
2        False        False    False     False  ...              False
3        False        False    False     False  ...              False
4        False        False    False     False  ...              False
...        ...          ...      ...       ...  ...                ...
2235     False        False    False     False  ...              False
2236     False        False    False     False  ...              False
2237     False        False    False     False  ...              False
2238     False        False    False     False  ...              False
2239     False        False    False     False  ...              False

      NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  \
0                 False         False         False         False
1                 False         False         False         False
2                 False         False         False         False
3                 False         False         False         False
4                 False         False         False         False
...                 ...           ...           ...           ...
2235              False         False         False         False
2236              False         False         False         False
2237              False         False         False         False
2238              False         False         False         False
2239              False         False         False         False

      AcceptedCmp1  AcceptedCmp2  Response  Complain  Country
0            False         False     False     False    False
1            False         False     False     False    False
2            False         False     False     False    False
3            False         False     False     False    False
4            False         False     False     False    False
...            ...           ...       ...       ...      ...
2235         False         False     False     False    False
2236         False         False     False     False    False
2237         False         False     False     False    False
2238         False         False     False     False    False
2239         False         False     False     False    False

[2240 rows x 28 columns]>